/* Carousel */

.carousel-item {
	height:70vh; 
	max-height:400px; 
	min-height:300px; 
	overflow:hidden; 
	background-size:cover;
	box-shadow:inset 0 0 0 2000px rgba(255,255,255, 0.5);
}
.carousel-caption {
	bottom:auto;
	top:0px;
	height:100%;
	padding-top:55px;
	background: rgb(255,255,255);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 25%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 25%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 25%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
}
.carousel-caption h5 {
	color:#df6420;
	font-size:39pt;
}
.carousel-caption p {
	color:#595959;
	font-size:18pt;
}
.carousel-caption a {
	color:#fff;
	background-color:#df6420;
	border-color:#df6420;
	font-weight: bold;
	margin-top:25px;
}
.carousel-control-prev-icon {
	background-image:url("/transfo/images/arrow-left-white.svg");
}
.carousel-control-next-icon {
	background-image:url("/transfo/images/arrow-right-white.svg");
}
.pause-control {
	text-align:center;
	z-index:999;
	position: absolute;
	right: 0;
	bottom: -25px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 0;
	margin-right: 15px;
}
.pause-control a {
	color:#595959;
	text-transform: uppercase;
	font-size: 9pt;
	text-decoration:none;
	cursor: pointer;
}

/* Info boxes */
.info-boxes {
	text-align:center;;
}
.info-boxes h2 {
	font-size:25pt;
}
.info-box {
	position:relative;
	color: #fff;
	max-width:350px;
	margin:0 auto;
	padding-bottom:10px;
	/* min-height: 450px;  */
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.02);*/
}
.info-img {
	width:100%;
	height:250px;
	background-size:cover;
}
.info-title {
	background-color: #00698c;
	padding:15px 5px;
	min-height:40px;
}
.info-title h3 {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.info-btn {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	position:relative;
	left:0;
	right:0;
	top:-15px;
	margin-right:15%;
	margin-left:15%;
}
.info-btn a {
	font-size: 16px;	
}
.info-btn a img {
	width:20px;	
}


/* Banner */
#outerBanner {
	background-color: #ccc;
	color: #fff;
	text-align: center;
	/*padding: 80px 3em 100px 3em;*/
	float: right;
	width: 100%;
	margin-bottom: 5em;
	background-image: url("https://hdqwalls.com/wallpapers/canada-landscape-4k.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 999;
}
#outerBanner h1 {
  font-weight: 600;
  margin-top: 40px;
  font-size: 35px;
}
#outerBanner h2 {
  font-weight: 400;
  font-size: 20px;
  color: white;
}
#outerBanner .btn {
  margin-top: 20px;
  padding: 12px 26px;
  font-weight: 600;
  background-color: #da5a26;
  border:none;
}
#outerBanner.btn:hover {
  background-color: #bd4c20 !important;
  border:none;
  opacity: 1;
  transform: translate(0, 2px); 
}
#outerBanner.btn:focus {
  background-color: #bd4c20 !important;
  border:none;
  opacity: 1;
  transform: translate(0, 2px); 
}
#outerBanner.btn:active {
  background-color: #bd4c20 !important;
  border:none;
  opacity: 1;
  transform: translate(0, 2px); 
}
#outerBanner.btn:focus, .btn:active 
{	
  box-shadow: 0 0 0 .2rem rgba(150,150,150,.5);
}
#banner {
	background-color: rgba(0,0,0,.3);
	padding: 4em;
	max-width: 600px;
	margin: 0 auto;
	-webkit-backdrop-filter: blur(15px) saturate(200%); /* blur and saturate to boost colors like iOS */
	backdrop-filter: blur(15px) saturate(200%); /* note: will not work in IE or on most Firefox setups */
}
.black-shade{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: -999;
}