/* Master styles */
body {
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	font-style: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 100%;
}
h1 {
	font-size: 49pt;
}
h2 {
	font-size: 39pt;
}
h3 {
	font-size: 31pt;
}
h4 {
	font-size: 25pt;
}
h5 {
	font-size: 20pt;
}
h6 {
	font-size: 16pt;
}
p {
	line-height:120%;
}
p .big {
	font-size: 16pt
}
.hr-tick-center {
	width: 50px;
	border: 2px solid #da5a26; 
}

/* Skip head */
#cn-skip-head {
	display: none;
}
.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto; 
}

/*Orange top line*/
.top-gap {
	height:20px; 
	background-color:#da5a26;
}

/* Nav */
.navbar {
	background-color: #fff;
	min-height:auto;
	/*padding: 20px 20px;*/
}
.navbar-brand {
	max-width:65%;
}
.navbar img {
	width: 100%;
	max-width: 225px;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.75);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0,0,0,1);
}
.dropdown-menu {
	background-color:#eee;
}
#lang-toggle {
	font-weight:bold;
}

/* Fix nav line break issue */
.dropdown-toggle, .nav-link, .dropdown-item {
    white-space: normal;
}


.beige-bg {
	background-color:rgb(246,245,240);
	padding-bottom:30px;
}

.btn-orange {
	color:#fff;
	background-color:#df6420;
	border-color:#df6420;
	padding-bottom: 0.4rem;
}
.btn-orange:active, .btn-orange:hover, .btn-orange:focus {
	background-color:#cf5b1b !important;
	border-color:#cf5b1b !important;
}


/* Footer */
.footer {
	border-top: 2px solid #efefef;
}
.footer-content{
	padding:50px 0 35px 0;
}
#TC-logo a {
	display: block;
	max-width:250px;
	margin:0 auto;
}
#TC-logo img {
	max-width: 300px; 
	margin-top: 20px;
}
#back-to-top a {
	text-align: center;
	display:block;
	max-width:150px;
	margin:0 auto;
	border:2px #000 solid;
	padding:10px;
	border-radius:10px;
	color:#000;
	text-decoration:none;
	font-size:0.8em;
}
#back-to-top a:focus, #back-to-top a:hover {
	opacity: 0.7;
}
#questions {
	text-align:center;
	padding-top:20px;
}
#footer-pattern {
	width:100%;
	min-width:1000px;
}



@media (min-width: 576px) {

	.navbar {
		min-height:130px;
	}

	/* Revert nav line break fix */
	.dropdown-toggle, .nav-link, .dropdown-item {
	    white-space: nowrap;
	}

	#outerBanner h1 {
		font-size: 45px;
	}
}

@media (min-width: 768px) {
	#lang-toggle {
		position:relative; 
		top:-50px; 
		background-color:#da5a26; 
		color:#fff; 
		border-radius:0 0 5px 5px; 
		padding:0px 5px;
		font-weight:normal;
	}
	#lang-toggle .nav-link {
		color: rgba(255,255,255,1);
	}
	#lang-toggle .nav-link:focus, #lang-toggle .nav-link:hover {
		color: rgba(255,255,255,1);
	}
	.dropdown-menu {
		background-color:#fff;
	}
	#outerBanner {
		padding: 100px 6em 100px 6em;
	}
	#outerBanner h1 {
		margin-top: 40px;
	}
	#banner {
		padding: 4em;
		max-width: 600px;
		margin: 0 auto;
		-webkit-backdrop-filter: blur(15px) saturate(200%);;
		backdrop-filter: blur(15px) saturate(200%);
	}
}


