<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <li data-target="#carouselIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active w-100" style="background-image:url(/transfo/images/homepage/home-page-header.jpg);">
      <div class="carousel-caption d-none d-sm-block">
        <h5>What's new</h5>
        <p>This carousel will keep you up to speed!</p>
        <a role="button" class="btn btn-secondary btn-lg btn-orange">Learn more</a>
      </div>
    </div>
    <div class="carousel-item w-100" style="background-image:url(https://hdqwalls.com/wallpapers/canada-landscape-4k.jpg);">
      <div class="carousel-caption d-none d-sm-block">
        <h5>Faces of Change</h5>
        <p>Your great colleague is doing great things!</p>
        <a role="button" class="btn btn-secondary btn-lg btn-orange">Learn more</a>
      </div>
    </div>
    <div class="carousel-item w-100" style="background-image:url(https://blu5sh.files.wordpress.com/2012/01/canada-beautiful-landscape-122-2.jpg);">
      <div class="carousel-caption d-none d-sm-block">
        <h5>Transformation Theme</h5>
        <p>Learn more about transformation with events and activities! </p>
        <a role="button" class="btn btn-secondary btn-lg btn-orange">Learn more</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <div class="pause-control">
    <a id="pauseButton" >Pause carousel</a>
  </div>
</div>