<!-- Photos -->
<div class="row">
       <!----------------------BOX 1---------------------->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="info-box">
          <div class="info-img" style="background-image:url('/transfo/images/homepage/whats-new.jpg')"></div>
          <div class="info-title">
            <h3>What's new</h3>
          </div>
          <div class="info-btn">
            <a class="btn btn-primary btn-lg btn-orange" href="#" role="button">View <img src="/transfo/images/homepage/arrow-white.svg"></a>
          </div>
        </div>
      </div>
       <!----------------------BOX 2---------------------->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="info-box">
          <div class="info-img" style="background-image:url('/transfo/images/homepage/transformation-at-a-glance.jpg')"></div>
          <div class="info-title">
            <h3>Transformation at a Glance</h3>
          </div>
          <div class="info-btn">
            <a class="btn btn-primary btn-lg btn-orange" href="#" role="button">View <img src="/transfo/images/homepage/arrow-white.svg"></a>
          </div>
        </div>
      </div>
</div>


<!-- Icons -->
<div class="row">
       <!----------------------BOX 1---------------------->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="info-box">
          <div class="info-title">
            <img src="/transfo/images/homepage/icons/whats-new-icon.svg">
            <h3>What's new</h3>
          </div>
          <div class="info-btn">
            <a class="btn btn-primary btn-lg btn-orange" href="#" role="button">View <img src="/transfo/images/homepage/arrow-white.svg"></a>
          </div>
        </div>
      </div>
       <!----------------------BOX 2---------------------->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="info-box">
          <div class="info-title">
            <img src="/transfo/images/homepage/icons/transformation-at-a-glance-icon.svg">
            <h3>Transformation at a Glance</h3>
          </div>
          <div class="info-btn">
            <a class="btn btn-primary btn-lg btn-orange" href="#" role="button">View <img src="/transfo/images/homepage/arrow-white.svg"></a>
          </div>
        </div>
      </div>
</div>