
<div class="video" style="background-image:url('/transfo/images/video/img-transparency-min.png');">
  <div class="shade">
    <div class="vid-text">
      <h6>Transformaction: Transparency and public trust</h6>
      <p>Find out how the TC Oversight Transparency initiative is building public trust in the safety and security of our transportation system.</p>
    </div>
  </div>
  <a href="#transparency" data-toggle="modal"><img src="/transfo/images/video/play-button-orange.svg" alt="Play button"></a>
</div>

    <!-- Modal HTML -->

    <div id="transparency" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="stopVideo(transparency);">&times;</button>
                </div>
                <div class="modal-body">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/86tR785Wxhc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

<div class="video video-left" style="background-image:url('/transfo/images/video/img-drone-min.png');">
  <div class="shade">
    <div class="vid-text">
      <h6>Transformaction: Drone Management Portal</h6>
      <p>Improving services to Canadians with the implementation of a Drone Management Portal. Take a look.</p>
    </div>
  </div>
  <a href="#drone" data-toggle="modal"><img src="/transfo/images/video/play-button-orange.svg" alt="Play button"></a>
</div>

    <!-- Modal HTML -->

    <div id="drone" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="stopVideo(drone);">&times;</button>
                </div>
                <div class="modal-body">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/vkN1j9nS7Kg" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


<div class="video" style="background-image:url('/transfo/images/video/img-hww-min.png');">
  <div class="shade">
    <div class="vid-text">
      <h6>TransformACTION: The How We Work Playbook</h6>
      <p>Learn about TC’s new How We Work Playbook, and discover how it is helping to transform TC.</p>
    </div>
  </div>
  <a href="#hww" data-toggle="modal"><img src="/transfo/images/video/play-button-orange.svg" alt="Play button"></a>
</div>

    <!-- Modal HTML -->

<div id="hww" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="stopVideo(hww);">&times;</button>
            </div>
            <div class="modal-body" style="padding:0px; height:80vh;">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4ys9-mq8W40" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="video-list">
      
  </div>
</div>